.title {
    font-size: 25;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.course-title {
  font-size: 20;
  padding: 10
}
.description {
  font-size: 15;
  padding: 10
}
